@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Glegoo|Lato');

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #f3f3f3;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Anonymous Pro', monospace !important;
	font-size: 40px;
	color: #ffffff;
}
.navbar-brand:hover {
	color: #ffffff;
}
#navbar a {
	color: #ffffff;
	text-decoration: none;
}
#navbar a:hover {
	color: #008296;
}

.banner {
	width: 100%;
	padding: 100px 40px;
}
.banner.top {
	margin-top: 51px;
}
.banner > .title {
	color: #ffffff;
	font-family: 'Anonymous Pro', monospace;
	font-size: 70px;
	text-align: center;
}
.banner > .subtitle {
	text-align: center;
	font-size: 25px;
	letter-spacing: 8px;
	text-transform: lowercase;
	color: #ffffff;
	opacity: 0.6;
}
.banner > .btn {
	align-self: center;
}
.bannerLink:hover {
	text-decoration: none;
}
.header {
	/*background-color: #a6e7ce;*/
	background-color: #ffa723;
	padding: 100px 40px 130px 40px;
	font-size: 40px;
	color: #ffffff;
}
.alexa-banner {
	background-color: #0070BA;
}
.android-banner {
	background-color: #ade422;
}

.description {
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	padding-bottom: 30px;
}
.description > p {
	opacity: 0.8;
}

.btn-primary {
	background-color: #f2f2f2;
	color: #0070BA;
}
.btn-primary:hover {
	background-color: #36c2b4;
	color: #ffffff;
}

.floating-container {
	background-color: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 30px 30px 30px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

h1 {
	text-transform: lowercase;
	font-weight: 700;
	font-size: 48px;
	letter-spacing: 5px;
}
.emphasis {
	font-size: 17px;
	font-weight: 700;
}
.setup-list > li {
	margin-bottom: 5px;
}